* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
}



.container{

    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:  
    "area1   area1"
    "area2    area3"
    "area4 area4";
}



header{
    
    grid-area: area1;
    color: #ef5350;
    padding: 20px 0;

    
}

header nav {
    justify-self: start;
    
    list-style: none;

}

header nav li {
    margin-right: 15px;
    display: inline-block;
}

header button {
    justify-self: end;

    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */

.main {
   grid-area: area2;
    
    text-align: center;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
   /*  width: 100%; */
}


/* Sidebar */

.sidebar {
    
    grid-area: area3;
    border: 1px solid #a2a2a2;
    padding: 20px;
}

/* Footer */

footer {
    
    grid-area: area4;
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}
